input{
  height: 10vh;
  width: 80%;
}

.search-input-container{
  height: 84vh;
  max-width: 700px;
  margin: 0 auto;
}

.badge{
  border-radius: 5px;
  border: 0.5px solid lightgray;
  box-shadow: 0px 0px 5px 0px black;
  padding: 1vh;
  background-color: crimson;
  margin-bottom: 2vh;
  text-decoration: none;
}

.search-button{
  text-decoration: none;
  text-align: center;
  padding: 3vh 0;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px black;
  border: 1px solid black;
}

@media screen and (min-width: 700px) {
  input{
    height: 10vh;
    width: 80%;
  }
}