.about-main-container{
  height: 84vh;
}

.profile-img{
  width: 40vw;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px black;
}

.know-more-btn{
  width: 70%;
  background-color: var(--Yellow);
  text-decoration: none;
  padding: 2vh 0;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px black;
}

@media screen and (min-width: 700px) {
  .profile-img{
    width: 30vw;
  } 

  .know-more-btn{
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .profile-img{
    width: 20vw;
  } 

  .know-more-btn{
    width: 20%;
  }
}